doctype html 
html(lang="en")
  head 
    meta(charset="UTF-8")
    meta(main="viewport" content="width=device, initial-scale=1.0")
    title Template HTML
  body 
    include _menu.pug
    h1 Hello, World! 
    img(src="../images/icon.png")
    img(src="../images/thumbnail.jpg")
